.homes {
position: relative;
 }

.homes h3 {
    font-weight: 100;
    letter-spacing: 2px;
}

.homes h1 {
    font-size: 60px;
    font-weight: bold;
}

.homes h1 span {
    color: #ff014f;
}

.homes h2 {
    font-size: 50px;
    font-weight: bold;
    color: #ff014f;
}
.homes h2 span {
    color: #121213;
}

.homes p {
    color: #878e99;
    font-size: 18px;
    line-height: 30px;
    margin-top: 30px;
}

.homes_btn {
    margin-top: 20%;
}

.homes_btn h4 {
    font-weight: 500;
    letter-spacing: 2px;
    color: #43474b;
    font-size: 15px;
    margin: 30px 0 30px 0;
}

.homes_btn button {
    margin-right: 30px;

}

.homes_btn i {
    font-size: 20px;

}

.homes_btn button  img {
    width: 20px;
    height: 20px;

}

.homes .left {
    margin-right: 10%;

}

.homes .right {
    width: 50%;
    position: relative;
}

.homes .right_img {
background: linear-gradient(145deg, #e2e8ec, #ffffff);
box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #5a85a1;
 border-radius: 10px;
 height: 580px;
 width: 510px;
 margin-top: 20%;

}

.homes 
.right_img img {
    position: absolute;
    top: 0;
    right: 10%;
    width: 600px;
}

@media (max-width:768px){
.homes .right,
.homes .left {
    width: 100%;
    margin-left: 20px;
}
.homes .f_flex {
    flex-direction: column;
    flex-direction: column-reverse;
}
.homes .right_img {
    width: 100%;
    height: 54vh;
}
}