.homes {
    position: relative;
}

.homes h3 {
    font-weight: 100;
    letter-spacing: 2px;
}

.homes h1 {
    font-size: 60px;
    font-weight: bold;
}

.homes h1 span {
    color: #ff014f;
}

.homes h2 {
    font-size: 50px;
    font-weight: bold;
    color: #ff014f;
}

.homes h2 span {
    color: #121213;
}

.homes p {
    color: #878e99;
    font-size: 18px;
    line-height: 30px;
    margin-top: 30px;
}

.homes_btn {
    margin-top: 20%;
}

.homes_btn h4 {
    font-weight: 500;
    letter-spacing: 2px;
    color: #43474b;
    font-size: 15px;
    margin: 30px 0 30px 0;
}

.homes_btn button {
    margin-right: 30px;
}

.homes_btn i {
    font-size: 20px;
}

.homes_btn button img {
    width: 20px;
    height: 20px;
}

.homes .left {
    margin-right: 10%;
}

.homes .right {
    width: 50%;
    position: relative;
}

.homes .right_img {
    height: 580px;
    width: 100%;
    max-width: 510px;
    margin-top: 20%;
}

.homes .right_img img {
    position: absolute;
    top: 0;
    right: 10%;
    width: 100%;
    max-width: 600px;
}

/* Media Queries for Responsive Design */

/* For screens up to 600px width */
@media (max-width: 600px) {
    .homes h1 {
        font-size: 40px;
    }

    .homes h2 {
        font-size: 30px;
    }

    .homes_btn {
        margin-top: 30%;
    }

    .homes_btn h4 {
        font-size: 14px;
    }
}

/* For screens between 601px and 1024px width */
@media (min-width: 601px) and (max-width: 1024px) {
    .homes h1 {
        font-size: 50px;
    }

    .homes h2 {
        font-size: 40px;
    }

    .homes_btn {
        margin-top: 25%;
    }

    .homes_btn h4 {
        font-size: 14px;
    }

    .homes .right_img {
        height: 400px;
        margin-top: 15%;
    }
}