.modal-blog.modal,
.modal-blog.overlay {
    overflow: scroll;
}

.modal-blog.modal .modal-content {
    position: relative;
    top: 10%;
    left: 0;
    max-width: 70%;
    margin: auto;
    margin-bottom: 10%;
}

.modal-blog .modal-content .right,
.modal-blog .modal-content .left {
    width: 100%;
    padding: 0;
    margin-top: 30px;
}

.blog_contact .right,
.blog_contact .left {
    margin: 0 25px 0 0;
}

/* Media Queries for Responsive Design */

/* For screens up to 768px width */
@media (max-width: 768px) {
    .modal-blog.modal .modal-content {
        max-width: 90%;
        margin-bottom: 20%;
    }

    .modal-blog .modal-content .right,
    .modal-blog .modal-content .left,
    .blog_contact .right,
    .blog_contact .left {
        margin: 0;
    }
}

/* For screens between 769px and 1024px width */
@media (min-width: 769px) and (max-width: 1024px) {
    .modal-blog.modal .modal-content {
        max-width: 80%;
        margin-bottom: 15%;
    }
}

/* For screens 1025px and above */
@media (min-width: 1025px) {
    .modal-blog.modal .modal-content {
        max-width: 70%;
        margin-bottom: 10%;
    }
}